@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');



.btn {
  cursor: pointer;
  background: transparent;
  border: 2px solid #c1ae73;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #c1ae73;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #c1ae73;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}
